@import '../Base.scss';

.become-wahine-container {
  font-family: $Main-font;
  background-color: $Accent-4;
  padding: 5rem;
  margin: 5rem 0;
  border-radius: 10px;
  > .become-wahine-container-h2 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  > .become-wahine-container-h3 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  > .become-wahine-container-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
    > .become-wahine-container-row-btn {
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
      padding: 1rem 2rem;
      border: none;
      background-color: #333333;
      border-radius: 5px;
    }
    > .become-wahine-container-row-img {
    }
  }
}
