@import '../Base.scss';

.home {
  &__presentation {
    text-align: center;
    margin: 13rem 0;

    &__p1 {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 2rem;
    }
    &__p2 {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
    }
  }
  &__region {
    &__p1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
    &__component {
      display: flex;
      justify-content: space-between;
    }
    &__p2 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
  &__sessions {
    &__p1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }
    &__component {
      display: flex;
      justify-content: space-between;
    }
    &__p2 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
  > .home-container-wahine {
    > .home-container-wahine-h1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }
    > .home-container-wahine-component {
      display: flex;
      justify-content: space-between;
    }
    > .home-container-wahine-p {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
}
