@import '../Base.scss';

.home-container {
  > .home-container-presentation {
    align-items: center;
    margin-bottom: 7rem;
    > .p1 {
      width: 880px;
      height: 115px;
      left: 280px;
      top: 293px;

      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;

      text-align: center;
    }
    > .p3 {
      width: 597px;
      height: 23px;
      left: 423px;
      top: 422px;

      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
    }
  }
  > .home-container-region-sessions {
    > .home-container-region-sessions-p1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
    > .home-container-region-sessions-component {
      display: flex;
      justify-content: space-between;
    }
    > .home-container-region-sessions-p2 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
  > .home-container-next-sessions {
    > .home-container-next-sessions-p1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }
    > .home-container-next-sessions-component {
      display: flex;
      justify-content: space-between;
    }
    > .home-container-next-sessions-p2 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
  > .home-container-wahine {
    > .home-container-wahine-h1 {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }
    > .home-container-wahine-component {
      display: flex;
      justify-content: space-between;
    }
    > .home-container-wahine-p {
      font-family: $Second-font;
      font-weight: 600;
      font-size: 1rem;
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;
    }
  }
}
