.createProfil1 {
  max-height: 70vh;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    padding-bottom: 2rem;
    @media only screen and (max-width: $Large) {
      margin: 2vh 0;
      width: 100%;
    }
    &__skip {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    h1 {
      @media only screen and (max-width: $Large) {
        font-size: 3vh;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $Large) {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__pic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: $Large) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &__img {
        align-self: center;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        @media only screen and (max-width: $Large) {
          display: flex;
          flex-direction: column;
          margin-left: 4vw;
        }
        & input {
          width: 10vw;
          @media only screen and (max-width: $Large) {
            width: 15vw;
          }
        }
        &__upload {
          color: darkgrey;
          margin-left: 2rem;
          justify-self: start;
        }
      }
    }
    &__div {
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
      }
    }
    &__infos__zipcode {
      width: 15vw;
      font-size: 12px;

      box-sizing: border-box;
      margin: 0.6rem 2rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
      height: 6vh;
    }
    &__infos__selectVille {
      width: 5vw;
    }

    &__row {
      display: flex;
      flex-direction: row;
      &__spot {
        font-size: 12px;

        box-sizing: border-box;
        margin: 0.6rem 2rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 1px solid #c3c7c8;
        width: 15vw;
      }
    }

    textarea {
      font-size: 12px;
      box-sizing: border-box;
      margin: 0.6rem 2rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
      width: 100%;
      @media only screen and (max-width: $Large) {
        width: 50vw;
      }
      @media only screen and (max-width: $Small) {
        width: 70vw;
      }
    }

    input {
      @media only screen and (max-width: $Large) {
        width: 20vw;
      }
      @media only screen and (max-width: $Small) {
        width: 30vw;
      }
    }

    select {
      font-size: 12px;
      box-sizing: border-box;
      margin: 0.6rem 2rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
      width: 100%;
      @media only screen and (max-width: $Large) {
        width: 20vw;
      }
      @media only screen and (max-width: $Large) {
        width: 30vw;
      }
    }
  }
  &__next {
    width: 12vw;
    border-radius: 10px;
    border: 1px solid #c3c7c8;
    padding: 0.5rem 0;
    background-color: #fdc969;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 2vh;
    @media only screen and (max-width: $Large) {
      width: 16vw;
    }
  }
}
