.create_session {
  margin: 0 4vw;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
  }
  &__form {
    margin-top: 2rem;
    &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      &__input {
        width: 17vw;
        margin: 1rem 2rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 1px solid #263238;
        background-color: white;
      }
    }
    &__type {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      > h4 {
        color: #808080;
        margin-right: 2rem;
      }
      > input,
      select {
        border: 1px solid #263238;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: white;
      }
    }
    &__weather {
      margin: 1rem 0 3rem 0;
      > h4 {
        color: #808080;
        margin-right: 2rem;
      }
    }
    > hr {
      color: #c4c4c4;
    }
    &__covoit {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      > h4 {
        margin-right: 2rem;
      }
      > select {
        border: 1px solid #263238;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: white;
      }
    }
  }
  &__button {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    &__next {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
    }
  }
}
