.createProfil1 {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
  }
  &__container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 6fr;
    input,
    textarea {
      width: 100%;
      margin: 1rem 2rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
    }
    &__ville {
      background-color: red;
    }

    &__next {
      width: 12vw;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
      font-weight: bolder;
    }
  }
}
