.createProfil2 {
  max-height: 70vh;
  &__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    padding-bottom: 2rem;
    @media only screen and (max-width: $Small) {
      padding-bottom: 2.5vh;
    }
    &__skip {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__styles {
    &__title {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 1rem;
      @media only screen and (max-width: $XXLarge) {
        padding-bottom: 1vh;
      }
      @media only screen and (max-width: $Large) {
        padding-bottom: 1.5vh;
      }
      @media only screen and (max-width: $Small) {
        padding-bottom: 1.5vh;
      }
    }
    &__tag {
      select {
        width: 17vw;
        padding: 0.7rem 1rem;
        margin: 1rem 0;
        border: 1px solid #263238;
        border-radius: 10px;
        background-color: white;
        @media only screen and (max-width: $XXLarge) {
          margin: 1.5vh 0;
        }
        @media only screen and (max-width: $Large) {
          margin: 2vh 0;
          width: 30vw;
        }
        @media only screen and (max-width: $Small) {
          margin: 1vh 0;
          width: 50vw;
          height: 3vh;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
  &__skills {
    &__title {
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 1rem;
      @media only screen and (max-width: $XXLarge) {
        padding-bottom: 1vh;
      }
      @media only screen and (max-width: $Large) {
        padding-bottom: 1.5vh;
      }
      @media only screen and (max-width: $Small) {
        padding-bottom: 1.5vh;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;
      margin: 1rem 2rem;
      padding: 0.5rem 1rem;
      @media only screen and (max-width: $XXLarge) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin: 1vh 1vw;
        padding: 0.5vh 1vw;
      }
      @media only screen and (max-width: $Large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin: 1vh 1vw;
        padding: 0.5vh 1vw;
      }
      @media only screen and (max-width: $Small) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin: 1vh 1vw;
        padding: 0.5vh 1vw;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    &__validate {
      font-size: medium;
      font-family: $Main-font;
      border-radius: 10px;
      border: 1px solid #c3c7c8;
      padding: 0.5rem 1rem;
      background-color: #fdc969;
      cursor: pointer;
    }
  }
}
