.create_session {
  margin: 0 4vw;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    @media only screen and (max-width: $Large) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    h1 {
      @media only screen and (max-width: $XLarge) {
        font-size: 4vh;
      }
      @media only screen and (max-width: $Large) {
        font-size: 4vh;
      }
      @media only screen and (max-width: $Small) {
        font-size: 3vh;
      }
    }
  }
  &__form {
    margin-top: 1rem;
    &__inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @media only screen and (max-width: $XXLarge) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      @media only screen and (max-width: $Large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &__input {
        width: 17vw;
        margin: 0.5rem 2rem;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: 1px solid #263238;
        background-color: white;
        @media only screen and (max-width: $XXLarge) {
          width: 15vw;
          margin: 0.5rem 2rem;
          padding: 0.5rem 1rem;
        }
        @media only screen and (max-width: $XLarge) {
          width: 13vw;
        }
        @media only screen and (max-width: $Large) {
          width: 25vw;
          margin: 0.5rem 2rem;
          padding: 0.5rem 1rem;
        }
        @media only screen and (max-width: $Small) {
          width: 50vw;
        }
      }
    }
    &__type {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: $Small) {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
      }
      &__h4 {
        color: #808080;
        margin-right: 2rem;
        @media only screen and (max-width: $Small) {
          display: none;
        }
      }
      input {
        border: 1px solid #263238;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: white;
      }

      select {
        border: 1px solid #263238;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: white;
        @media only screen and (max-width: $Small) {
          width: 50vw;
        }
      }
    }
    &__weather {
      margin: 1rem 0 3rem 0;
      > h4 {
        color: #808080;
        margin-right: 2rem;
      }
    }
    &__hr {
      color: #c4c4c4;
      @media only screen and (max-width: $Small) {
        display: none;
      }
    }
    &__carpool {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: $Small) {
        display: flex;
        justify-content: center;
        margin-top: 1vh;
      }
      &__h4 {
        margin-right: 2rem;
        @media only screen and (max-width: $Small) {
          display: none;
        }
      }
      select {
        border: 1px solid #263238;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        background-color: white;
        @media only screen and (max-width: $Small) {
          width: 50vw;
        }
      }
    }
  }
  &__button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    @media only screen and (max-width: $Small) {
      margin-top: 2.5vh;
      display: flex;
      justify-content: center;
    }
    &__next {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
      @media only screen and (max-width: $Large) {
        width: 25vw;
        padding: 0.5rem 0;
      }
      @media only screen and (max-width: $Small) {
        width: 25vw;
        padding: 0.5rem 0;
      }
    }
  }
}
