.create-session2 {
  margin: 0 4vw;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
  }
  &__paragraph {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    > p {
      margin-top: 0.5rem;
    }
  }
  &__selects {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    > select {
      width: 17vw;
      padding: 0.7rem 1rem;
      margin: 1rem 0;
      border: 1px solid #263238;
      border-radius: 10px;
      background-color: white;
    }
  }
  &__buttons {
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    &__next {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
    }
    &__skip {
      width: 10vw;
      border: none;
      background-color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 992px) {
  .create-session2 {
    &__title {
      width: 100%;
    }
    &__selects {
      margin-top: 2.5vh;
      > select {
        width: 30vw;
        margin: 2vh 0;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .create-session2 {
    &__title {
      h1 {
        font-size: 3.5vh;
      }
    }
    &__paragraph {
      margin-top: 1vh;
      > p {
        margin-top: 0.5vh;
      }
    }
    &__selects {
      margin-top: 2.5vh;
      > select {
        width: 40vw;
        margin: 1.5vh 0;
      }
    }
    &__buttons {
      justify-content: center;
      &__next {
        width: 20vw;
        padding: 0.5rem 0;
      }
      &__skip {
        width: 20vw;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .create-session2 {
    &__paragraph {
      > p {
        font-size: 1.7vh;
      }
    }
    &__selects {
      > select {
        width: 50vw;
      }
    }
    &__buttons {
      &__next {
        width: 25vw;
      }
      &__skip {
        width: 25vw;
      }
    }
  }
}
