h1 {
  font-family: $Main-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

h2 {
  font-family: $Main-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-family: $Second-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-family: $Main-font;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

h5 {
  font-family: $Second-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

h6 {
  font-family: $Second-font;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  color: #808080;
}

p {
  font-family: $Second-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: black;
}
