.footer {
  margin-top: 20vh;
  &__h4 {
    margin-bottom: 0.8rem;
    @media only screen and (max-width: $Medium) {
      font-size: 3.5vw;
    }
  }
  &__row1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem 0;
    &__logo {
      @media only screen and (max-width: $Medium) {
        display: none;
      }
    }
  }
  &__row1__nav {
    font-family: $Main-font;
    font-weight: 400;
    font-size: 0.9rem;
    > li:first-child {
      font-weight: 700;
    }
    > li {
      margin-bottom: 0.9rem;
    }
  }
  &__row1__mentions {
    font-family: $Main-font;
    font-weight: 400;
    font-size: 0.9rem;
    > li:first-child {
      font-weight: 700;
    }
    > li {
      margin-bottom: 0.9rem;
    }
  }
  &__row1__newsletter {
    display: flex;
    flex-direction: column;
    font-family: $Main-font;
    font-weight: 700;
    font-size: 18px;
    background-color: $Secondary-4;
    border-radius: 4px;
    width: 23vw;
    padding: 2rem;
    label {
      font-weight: 700;
      font-size: 0.9rem;
      margin-bottom: 0.9rem;
    }
    input {
      border: none;
      height: 2.5rem;
      background-color: #c4c4c4;
      font-size: 1rem;
      padding-left: 1rem;
      color: white;
      font-weight: 600;
      margin-bottom: 0.9rem;
      border-radius: 4px;
    }
    button {
      height: 2.5rem;
      font-weight: 600;
      background-color: white;
      border-radius: 4px;
      border: 1px solid rgb(66, 66, 66);
    }
  }
  &__row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;
    @media only screen and (max-width: $Medium) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
    }
  }
  &__row2__socialIcon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    @media only screen and (max-width: $Medium) {
      width: 50%;
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
  &__row2__email {
    font-size: 15px;
  }
}
