.header {
  font-family: $Main-font;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  &__list {
    font-family: $Main-font;
    display: flex;
    justify-content: space-around;
    width: 30vw;
    &__profile {
    }
    &__search {
    }
    &__session {
    }
    &__connection {
      &__login {
      }
      &__logout {
        cursor: pointer;
      }
    }
  }
}
