.hiki {
  width: 10vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $Large) {
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    min-width: 20vw;
  }
  @media only screen and (max-width: $Medium) {
    min-width: 30vw;
  }
  @media only screen and (max-width: $Small) {
    min-width: 35vw;
  }
  &__img {
    display: flex;
    justify-content: start;
    margin: 1rem 0 2rem 0;
    width: 13vw;
    @media only screen and (max-width: $Small) {
      width: 20vw;
    }
    > img {
      max-height: 100%;

      max-width: 100%;
    }
  }
  &__h5 {
    margin-bottom: 1rem;
    @media only screen and (max-width: $Small) {
      font-size: 1.7vh;
    }
  }
  &__h6 {
    color: black;
  }
  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    border-radius: 10px;
    background-color: #f7ba8c;
    border: none;
    height: 1.5rem;
    margin: 1rem 0;
    @media only screen and (max-width: $Large) {
      width: 15vw;
    }
    @media only screen and (max-width: $Medium) {
      font-size: 1.2vh;
      width: 20vw;
    }
    @media only screen and (max-width: $Small) {
      font-size: 1.2vh;
      width: 28vw;
    }
  }
}
