.modalWahine {
  display: flex;
  flex-direction: column;
  &__resume {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    &__img {
      width: 30%;
      padding-right: 1rem;
      &__pic {
        height: auto;
        width: 100%;
      }
    }
    &__infos {
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  &__explication {
    height: 15rem;
    &__text {
      height: 100%;
      width: 100%;
      font-size: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__button {
    display: flex;
    justify-content: center;

    &__validate {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
      text-align: center;
    }
  }
}
