.myProfile {
  border-radius: 15px;
  padding: 2rem;
  margin: auto;
  width: 80vw;
  @media only screen and (max-width: $Medium) {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
    @media only screen and (max-width: $Medium) {
      width: 80vw;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.4rem;
    }
    > p {
      @include hiki;
    }
  }
  &__column {
    display: flex;
    gap: 2rem;
    @media only screen and (max-width: $Medium) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80vw;
    }
    &__column1 {
      display: flex;
      flex-direction: column;
      width: 20%;
      gap: 1rem;
      @media only screen and (max-width: $Medium) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
      }
      > img {
        border: 1px rgb(167, 167, 167) solid;
        border-radius: 15px;
        padding: 2rem;
        @media only screen and (max-width: $Large) {
          padding: 2vh 2vw;
        }
        @media only screen and (max-width: $Medium) {
          width: 30vw;
          margin-right: 4vw;
        }
        @media only screen and (max-width: $MediumSmall) {
          padding: 2vh 2vw;
        }
      }
      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px rgb(167, 167, 167) solid;
        border-radius: 15px;
        padding: 2rem;
        overflow: hidden;
        &__previewImage {
          width: 100%;
        }
        &__label {
          font-family: $Main-font;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          margin-top: 1rem;
          border-radius: 10px;
          border: 1px solid #c3c7c8;
          padding: 0.5rem 0.5rem;
          cursor: pointer;
        }
        &__input {
          display: none;
        }
      }
      &__info {
        border: 1px rgb(167, 167, 167) solid;
        border-radius: 15px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        @media only screen and (max-width: $Medium) {
          border: none;
        }
        > h2 {
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
        &__input {
          width: 100%;
          border: none;
          font-family: $Second-font;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    &__column2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      gap: 1rem;
      @media only screen and (max-width: $Medium) {
        justify-content: center;
        width: 100%;
      }
      &__row1 {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px rgb(209, 209, 209) solid;
        padding-bottom: 0.5rem;
        @media only screen and (max-width: $Medium) {
          display: flex;
          justify-content: space-between;
          border-bottom: none;
          padding-bottom: 0.5rem;
        }
        > div {
          display: flex;
          width: 100%;
          @media only screen and (max-width: $Medium) {
            width: 80vw;
            justify-content: center;
            align-items: center;
          }
          @media only screen and (max-width: $MediumSmall) {
            width: 100vw;
          }
          > p {
            background-color: cadetblue;
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            font-size: 11px;
            margin-right: 1rem;
            font-family: $Second-font;
            @media only screen and (max-width: $Medium) {
              width: 25vw;
              text-align: center;
            }
            @media only screen and (max-width: $MediumSmall) {
              width: 30vw;
            }
          }
        }
      }
      &__row2 {
        display: flex;
        flex-direction: column;
        > h2 {
          font-weight: 600;
          margin-bottom: 0.5rem;
          @media only screen and (max-width: $Medium) {
            display: none;
          }
        }
        &__wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
      &__row3 {
        @media only screen and (max-width: $Medium) {
          margin: 4vh 0;
        }
        &__describe {
          border: 1px rgb(167, 167, 167) solid;
          border-radius: 15px;
          padding: 1rem;
          min-height: 6.5rem;
          > h2 {
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
          &__input {
            width: 100%;
            margin-bottom: 0.5rem;
            border: none;
            font-family: $Second-font;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  &__button {
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid #c3c7c8;
    padding: 0.5rem 0.5rem;
    background-color: $Accent-3;
    cursor: pointer;
    font-weight: bolder;
  }
}

#select {
  background-color: cadetblue;
  border: none;
  @media only screen and (max-width: $Medium) {
    width: 20vw;
  }
}
#option {
  background-color: white;
}
