.mysessions {
  &__h1 {
    padding: 15vh 0 4vh 0;
  }
  &__hidden {
    display: none;
  }
  &__wahine {
    padding-bottom: 4vh;
    &__h3 {
      padding: 0vh 0 4vh 0;
    }

    &__sessions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 3rem;
      &__left {
        font-size: 2em;
        fill: $Primary-dark-2;
      }
      &__right {
        font-size: 2em;
        fill: $Primary-dark-2;
      }
    }
  }
  &__hiki {
    &__h3 {
      padding: 0vh 0 4vh 0;
    }

    &__sessions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 3rem;
      &__left {
        font-size: 2em;
        fill: $Primary-dark-2;
      }
      &__right {
        font-size: 2em;
        fill: $Primary-dark-2;
      }
    }
  }
}
