.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  &__title {
    width: 20vw;
  }
  &__covoit {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 3rem;
    justify-content: space-between;
    > h4 {
      margin-right: 2rem;
    }
    > select {
      border: 1px solid #333333;
      border-radius: 10px;
      padding: 0 1rem 0 1rem;
      background-color: white;
      font-size: 0.7rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 22vw;
    margin-top: 4rem;
    &__return {
      width: 10vw;
      border: 1px solid #455a64;
      border-radius: 10px;
      padding: 0.5rem 0;
      background-color: white;
      cursor: pointer;
    }
    &__signup {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: $Accent;
      cursor: pointer;
    }
  }
}
