.sessionResume {
  &__title {
    width: 45vw;
    padding: 3vh 0;
    font-family: $Main-font;
  }
  &__tags {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh;

    &__tag {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #c2e5e0;
      padding: 0.7vh 0;
      width: 10vw;
      min-width: fit-content;
      border-radius: 10px;
      color: black;
      font-weight: 400;
      font-size: 1.3vh;
    }
  }
  &__session {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      margin-bottom: 2vh;
    }
    &__details {
      &__adress {
        font-family: $Main-font;
        font-size: 2vh;
        margin-bottom: 1.5vh;
      }
      &__number {
        font-family: $Main-font;
        font-size: 2vh;
        margin-bottom: 5vh;
      }
    }
  }
  &__title2 {
    padding-bottom: 2rem;
  }
  &__weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c7f0f2;
      margin-left: 2rem;
      width: 15vw;
      min-width: fit-content;
      border-radius: 10px;
      color: black;
      font-weight: 400;
      font-size: 1.3vh;
      padding: 0.7vh 0;
      margin-bottom: 3vh;
    }
  }
  &__button {
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    &__validate {
      width: 10vw;
      border-radius: 10px;
      border: none;
      padding: 0.5rem 0;
      background-color: #fdc969;
      cursor: pointer;
    }
    &__cancel {
      width: 10vw;
      border: none;
      background-color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 992px) {
  .sessionResume {
    &__title {
      h1 {
        font-size: 4vh;
      }
    }
    &__tags {
      &__tag {
        width: 20vw;
      }
    }
    &__weather {
      &__buttons {
        width: 15vw;
      }
    }
    &__button {
      margin: 1.5vh 0 0 0;
      &__validate {
        width: 15vw;
        margin-left: 1vw;
      }
      &__cancel {
        width: 15vw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sessionResume {
    &__title {
      h1 {
        font-size: 3.3vh;
      }
    }
    &__tags {
      &__tag {
        width: 20vw;
      }
    }
    &__session {
      &__title {
        font-size: 2.5vh;
      }
      &__details {
        display: flex;
        justify-content: space-around;

        &__adress {
          font-family: $Main-font;
          font-size: 2vh;
          margin-bottom: 1.5vh;
        }
        &__number {
          font-family: $Main-font;
          font-size: 2vh;
          margin-bottom: 5vh;
        }
      }
    }
    &__title2 {
      h3 {
        font-size: 2.5vh;
      }
    }
    &__weather {
      justify-content: space-around;
      &__buttons {
        width: 20vw;
      }
    }
    &__button {
      justify-content: center;
      &__validate {
        width: 15vw;
        margin-left: 1vw;
      }
      &__cancel {
        width: 15vw;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .sessionResume {
    &__title {
      width: 100%;
      h1 {
        font-size: 2.5vh;
      }
    }
    &__tags {
      flex-wrap: wrap;
      margin-bottom: 1vh;
      &__tag {
        width: 30vw;
        margin-bottom: 1vh;
      }
    }
    &__session {
      &__title {
        font-size: 2vh;
      }
    }
    &__title2 {
      padding-bottom: 1vh;
      h3 {
        font-size: 2vh;
      }
    }
    &__weather {
      &__buttons {
        margin-bottom: 1.5vh;
        width: 25vw;
      }
    }
    &__button {
      &__validate {
        width: 20vw;
      }
      &__cancel {
        width: 20vw;
      }
    }
  }
}
