.sessions {
  &__h1 {
    padding-top: 15vh;
  }
  &__selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2rem 0;

    &__region {
      border-radius: 10px;
      background-color: white;
      width: 15vw;
      margin-right: 1rem;
      height: 4vh;
      padding-left: 0.5rem;
      color: #263238;
    }
    &__date {
      border-radius: 10px;
      background-color: white;
      width: 15vw;
      height: 4vh;
      padding-left: 0.5rem;
      color: #263238;
    }
  }
  &__nextsession {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    &__not-sessions {
      margin-bottom: 20vh;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 3rem;
    &__more {
      font-size: 2em;
      fill: $Primary-dark-2;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .sessions__selectors {
    &__region {
      width: 25vw;
      height: 4vh;
    }
    &__date {
      width: 25vw;
      height: 4vh;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .sessions__selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__region {
      width: 40vw;
      height: 4vh;
      margin-right: 0;
      margin: 3vh 0;
    }
    &__date {
      width: 40vw;
      height: 4vh;
    }
  }
  .sessions__h1 {
    padding-top: 5vh;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sessions__selectors {
    &__region {
      width: 60vw;
      height: 4vh;
      margin-right: 0;
      margin: 3vh 0;
    }
    &__date {
      width: 60vw;
      height: 4vh;
    }
  }
}
