.surfskill {
  &__notactive {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: 0px;
    @media only screen and (max-width: XXLarge) {
      width: 12vw;
      height: 5vh;
    }
    @media only screen and (max-width: $Large) {
      width: 15vw;
      height: 5vh;
    }
    @media only screen and (max-width: $Large) {
      font-size: 1.5vh;
    }
    @media only screen and (max-width: $Large) {
      width: 17vw;
      height: 5vh;
      font-size: 1.2vh;
    }
  }
  &__active {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: 0px;
    background-color: #fdc969;
    @media only screen and (max-width: XXLarge) {
      width: 12vw;
      height: 5vh;
    }
    @media only screen and (max-width: $Large) {
      width: 15vw;
      height: 5vh;
    }
    @media only screen and (max-width: $Large) {
      font-size: 1.5vh;
    }
    @media only screen and (max-width: $Large) {
      width: 17vw;
      height: 5vh;
      font-size: 1.2vh;
    }
  }
}
