//////////////////////////////////
////////////////////////// COLORS
//////////////////////////////////

$Primary-dark-1: #0a2c2d;
$Primary-dark-2: #15575a;
$Primary-dark: #1f8387;
$Primary-dark-3: #57d3d8;
$Primary-dark-4: #c7f0f2;

$Primary-light-1: #193a36;
$Primary-light-2: #31746b;
$Primary-light: #4aaea1;
$Primary-light-3: #84cbc2;
$Primary-light-4: #c2e5e0;

$Secondary-1: #652f07;
$Secondary-2: #cb5f0e;
$Secondary: #f39752;
$Secondary-3: #f7ba8c;
$Secondary-4: #fbdcc5;

$Accent-1: #d48a03;
$Accent-2: #fcb022;
$Accent: #fdc969;
$Accent-3: #fedb9b;
$Accent-4: #feedcd;

$Hiki: #ffdc5d;

//////////////////////////////////
//////////////////////////// FONTS
//////////////////////////////////
$Main-font: 'Source Sans Pro', sans-serif;

$Second-font: 'Poppins', sans-serif;

//////////////////////////////////
////////////////////////// QUERIES
//////////////////////////////////

$XXLarge: 1440px;
$XLarge: 1164px;
$Large: 992px;
$Medium: 768px;
$MediumSmall: 642px;
$Small: 600px;
$XSmall: 450px;
