@import './Base.scss';

.header-container {
  font-family: $Main-font;
  display: flex;

  > .header-logo {
    width: 85px;
    height: 36px;
    left: 35px;
    top: 17px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
  }

  .header-link {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    > .first-one {
    }
    > .second-one {
    }
    > .third-one {
    }
  }
}
