@import './Base.scss';

.wahine {
  align-items: center;
  font-family: $Second-font;
  font-weight: 600;
  &__img {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  h3 {
    color: #333333;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  > h4 {
    color: #808080;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  > p {
    color: black;
    font-size: 0.9rem;
  }
}
